[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "track2KBA"]
	path = track2KBA
	url = https://github.com/birdlifeinternational/track2kba
